// Place all the styles related to the points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$nav-arrow-distance:20px;
$nav-arrow-width: -64px;

form{
  position:relative;
  max-width:100%;
  padding-top:0.4em;
  
  a.remove_fields, span.delete{
    color:#333;
    //border: 3px solid #fff;
    display:inline-block;
    line-height:0;
    //padding: 0.8em 0.5em;
    //border-radius:1em;
    z-index:99;
  }
  
  input{
    border:1px solid #333;
  }
  
  
  trix-toolbar .button_group button, trix-toolbar .button_group input[type=button]{
    text-indent:-99999px;
    font-size:24px;
    width:3em;
    height:2.5em;
  }

  input[type="submit"]{
   -webkit-appearance:none !important;
   outline:none;
   border: 1px solid #333;
   color:#333;
   border-radius: 1em; 
   background:none !important;
   font-size:1.5em;
   padding:0.4em 0.8em;
  }
}

#btn-submit-point{
  margin: 0.5em 0 0.3em 0;
}

a.btn, input[type="submit"].btn{
 color:#333;
 border: 1px solid #333;
 border-radius: 1em; 
 background-color:none !important;
 font-size: 34px;
 padding:0.3em 0.6em;
 
 &.addPoint{
   margin:1.5em 0;
 }
 
 &.noBorder{
   border:none;
 }
}

#pointsList{
  .point-text > div {
    color:#111;
    background-color:#fff;
    padding:0.5em;
  }
}


.listObj{
  
  width:100%;
  max-width:100% !important;
  color:#333;
  font-size:34px;
 
 a{
   color:#333;
 }
  table{
    border-collapse:collapse;
    max-width:100%;
    //padding: 0.4em 0;
  }

  th{
    border-bottom: 1px solid #333;
  }
  
  .dragHandle{
    font-size:1.5em;
    padding:0.4em 0;
    max-width: 50px;
    i{
      display:block;
      margin-left: -10px;
    }
  }
  td, th{
    line-height:1em;
     padding: 0.5em 0.3em;
     
      textarea{
        width:17em;
        height:4em;
      }
      .styled-select{
      select{
        appearance:none;
        -webkit-appearance:none;
        -moz-appearance:none;
        font-size: 1.3em;
        line-height:1.3em;
        width:3.5em;
        height: 1.5em;
        background:none;
        padding:0 0.3em;
        border:2px solid #333;
        
        
      }
      &:after{
          content:'\25bc';
          margin-left:-1.6em;
        }
        
      }
  
  }
 
  
}

#optionsGrid{
  margin-top:3em;
}

trix-editor{
  background-color:#fff;
  margin-top:1.7em !important;
  height:20em;

  overflow:scroll;
  >div{
      
  font-size:0.5em;
  }
  
}

.point{
  width: 100%;

  a.sibNav{
    display:none;
    font-size:180px;
    color:#333;
    position:fixed;
    top: calc(50% - 107px);
    z-index:200;
    text-align:center;
    i{
      max-width:100px;
      &:before{
        margin-left:0;
        margin-right:0;
        width:auto;
      }
    }


  }



  .children{
    top: 100%;
    width: 100%;

    position:relative;
    //display: -webkit-flex;
    // display: flex;
    //-webkit-align-items: top;
    //align-items: top;
    //display:block;
    margin-top: 1em;
    //overflow-y: visible;
    overflow:visible;
    //vertical-align:top;
    //line-height:100%;
    .holder{


      >.point{
        // position:absolute;
        // left:-999999px;
        // display:none;


      }

      >.point.selected{
        position:relative;
        left:0;
        float:left;
        display:inline-block;
        vertical-align:top;
        top:0;
        //line-height:100%;
        //-webkit-flex: initial;
        //flex:initial;


        &.hasLeftSib > .pointBox.inWindow > a.leftArrow{
          left:$nav-arrow-distance;
          display:block;

        }


        &.hasRightSib > .pointBox.inWindow > a.rightArrow{
          right:$nav-arrow-distance;
          display: block;
        }


        .pointBox.inWindow{

          &.arrowTop{
            a.sibNav{
              position:absolute;
              top:20px;
              bottom:auto;

              &.leftArrow{
                left:$nav-arrow-width;
              }
              &.rightArrow{
                right:$nav-arrow-width;
              }
            }
          }

          &.arrowBottom{
            a.sibNav{
              position:absolute;
              top:auto;
              bottom:20px;

              &.leftArrow{
                left:$nav-arrow-width;
              }
              &.rightArrow{
                right:$nav-arrow-width;
              }
            }
          }
        }

      }

      .leftPoint, .rightPoint{
        display:none;
      }

      .leftPoint{
        left: -100%;


      }


      .rightPoint{
        top:0;
        right: -100%;
        left:auto;


      }

    }


  }


}
