// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//@import "bootstrap-sprockets";
//@import "bootstrap";



@import '../base/borders';
@import '../base/colors';
@import '../base/fonts';
@import '../components/headers';
@import '../components/block_text';










#introText{
  margin: 3em auto;
  
  h5{
    @extend %standard-header;
    @include standard-header();
  }
  
  h1{
    @extend %fancy-header;
   @include fancy-header();
   @include rainbow-strike();
   
  }

  p{
    @include text-block();
  }
}



.animate { transition: transform 0.3s ease-out; }

.slider {
  width: 100%;
  overflow: hidden;
   display:block;
  position:relative;
  
  .slide{
    height:1px;
    visibility:hidden;
    
    &.selected{
      visibility:visible;
      height:auto;
    }
  }
  
}


.ms-touch.slider {
  overflow-x: scroll;
  overflow-y: hidden;
  
  -ms-overflow-style: none;
  /* Hides the scrollbar. */
  
  -ms-scroll-chaining: none;
  /* Prevents Metro from swiping to the next tab or app. */
  
  -ms-scroll-snap-type: mandatory;
  /* Forces a snap scroll behavior on your images. */
  
  -ms-scroll-snap-points-x: snapInterval(0%, 100%);
  /* Defines the y and x intervals to snap to when scrolling. */
}

.holder {
  //width: 300%;
  //max-height: 500px;
  height: 100%;
  overflow-y: hidden;
}

.slide {
  //width: 33.333%;
  height: 100%;
  float: left;
 // min-height: 500px;
  position: relative;
  overflow: hidden;
}

.standardWidth{
    margin: 0 auto;
    width: 85%; 
}

.flex-container{
  display:flex;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  align-content: center;
  align-items: center;
  width:100%;
}

.centerFlex{
  margin:auto auto !important;
}




