@import url(https://fonts.googleapis.com/css?family=Neuton:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,400italic,300italic,100italic);
@import url(https://fonts.googleapis.com/css?family=Chonburi);
@import url(https://fonts.googleapis.com/css?family=Voces);
@import url(https://fonts.googleapis.com/css?family=Monofett);

$Lato:'Lato', sans-serif;
$Voces: 'Voces', sans-serif;
$Monofett: 'Monofett', sans-serif;

html{
  font-size: 62.5%;
}
